.success-asp h1{
    text-align: center;
    margin: 5% 0 3% 0;
    text-transform: uppercase;
}

.success-asp #colr {
    color: #1c1852;
}

.success-asp .actionBtn {
display: flex;
gap: 20%;
margin-left: 15%;

}

.success-asp .actionBtn .btn {
padding: 6px 30px;
border-radius: 5px;
border: none;
outline: none;
font-size: 1em;
font-weight: 500;
background: #002B5B;
color: lavenderblush;
height: 35px;
}

.success-asp .actionBtn .btn:hover {
background-color: #4C6793;
color: white;
}

.success-asp .actionBtn .btn:nth-child(2) {
border: 1px solid #999;
color: #999;
background: lavenderblush;

}

.success-asp .reveal2 .asp {
    display: flex;
    justify-content: space-evenly;
    margin-top: 10rem;
    margin-left: 0rem;
}
.success-asp .asp h1{
    text-transform: uppercase;
    font-family: 'Play', sans-serif;
}
.success-asp .asp h1 span{
    font-family: 'Play', sans-serif;
}
.success-asp .asp{
    display: flex;
    justify-content: space-evenly;
    margin-top: 10rem;
    margin-left: 17rem;
}
.success-asp .asph1{
    text-transform: uppercase;
    font-family: 'Play', sans-serif;
}
.success-asp .asp h1 span{
    font-family: 'Play', sans-serif;
}


.success-asp .blog-card2 {
  
    height: 370px;
    width: 95%;
    max-width: 850px;
    margin: auto;
    border-radius: 25px;
    background-color:#B2C8DF;

}

.success-asp .inner-partt {
    position: absolute;
    display: flex;
    height: 360px;
    align-items: center;
    justify-content: center;
    padding: 0 25px;
}

.success-asp #imgTap:checked~.inner-partt {
    padding: 0;
    transition: .1s ease-in;
}

.success-asp .inner-partt .img {
    height: 280px;
    width: 260px;
    flex-shrink: 0;
    overflow: hidden;
    border-radius: 20px;
    box-shadow: 2px 3px 15px #000000e7;
}

.success-asp #imgTap:checked~.inner-partt .img {
    height: 370px;
    width: 850px;
    z-index: 99;
    margin-top: 10px;
    transition: .3s .2s ease-in;
}

.success-asp .img img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    cursor: pointer;

    transition: .6s;
}

#tap-2:checked~.inner-partt .img-2,
#tap-3:checked~.inner-partt .img-3 {
    opacity: 1;
    transition-delay: .2s;
}

.success-asp .content {
    padding: 0 20px 0 35px;
    width: 520px;
    margin-left: 30px;
   
    transition: .6s;
}

#imgTap:checked~.inner-part .content {
    display: none;
}

#tap-1:checked~.inner-partt .content-1,
#tap-2:checked~.inner-partt .content-2,
#tap-3:checked~.inner-partt .content-3 {
    opacity: 1;
    margin-left: 0px;
    z-index: 100;
    transition-delay: .3s;
}

.success-asp .content span {
    display: block;
    color: #0a090e;
    margin-bottom: 15px;
    font-size: 22px;
    font-weight: 500
}

.success-asp .content .title {
    font-size: 25px;
    font-weight: 700;
    color: #7b7992;
    margin-bottom: 20px;
}

.success-asp .content .text2 {
    color: #0a090e;
    font-size: 18px;
    margin-bottom: 30px;
    line-height: 1.5em;
    text-align: justify;
    padding-right: 55px;
    font-family: 'Dosis', sans-serif;
}

.success-asp .content button {
    display: inline-flex;
    padding: 15px 15px;
    border: none;
    font-size: 16px;
    color: #fff0e6;
    font-weight: 600;
    letter-spacing: 1px;
    border-radius: 50px;
    cursor: pointer;
    outline: none;
    border: 1px solid #23ccf6;
    background: #4e43f0;
    text-decoration: none;
}

.success-asp .actionBtn a{
    text-decoration: none;
}

.success-asp .content button:hover {
    background: linear-gradient(150deg, #23ccf6 0%, #4e43f0 74%);
}

.success-asp .sliders2 {
    position: absolute;
    bottom: 25px;
    left: 65%;
    transform: translateX(-50%);
    z-index: 12;
}

#imgTap:checked~.sliders2 {
    display: none;
}

.success-asp .sliders2 .tap {
    position: relative;
  
    width: 50px;
    background: #d9d9d9;
    border-radius: 5px;
    display: inline-flex;
    margin: 0 3px;
    cursor: pointer;
}

.success-asp .sliders2 .tap:hover {
    background: #cccccc;
}

.success-asp .sliders2 .tap:before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    height: 100%;
    width: -100%;
    background: linear-gradient(150deg, #23ccf6 0%, #4e43f0 74%);
    border-radius: 10px;
    transform: scaleX(0);
    transition: transform .6s;
    transform-origin: left;
}

input[type="radio"],
input[type="checkbox"] {
    display: none;
}

#tap-1:checked~.sliders2 .tap-1:before,
#tap-2:checked~.sliders2 .tap-2:before,
#tap-3:checked~.sliders2 .tap-3:before {
    transform: scaleX(1);
    width: 100%;
}

.carousel #btns {
    z-index: -9999;
}




.success-asp .container2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.success-asp .container2 a {
    position: relative;
    width: 100px;
    height: 35px;
    display: inline-block;
    background-color: aliceblue;
    text-decoration: none;
}

.success-asp .container2 a:after,
.success-asp .container2 a:before {
    content: '';
    position: absolute;
    inset: 0;
    background: aqua;
    transition: 0.5s;
}

.success-asp .container2 a:nth-child(1):before,
.success-asp .container2 a:nth-child(1):after {
    background: linear-gradient(30deg, #62a2cd, #1c1852, purple, blue, #293462);
}

.success-asp a:hover:before {
    inset: -3px;
}

.success-asp a:hover:after {
    inset: -3px;
    filter: blur(10px);
}


.success-asp .container2 a .colour span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: inline-block;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 30px;
    border: none;
    outline: none;
    font-size: 20px;
    font-weight: 600;
    border: 1px solid #999;
    border-radius: 0px;
    overflow: hidden;
    color: black;
    background: lavenderblush;
}

.success-asp .container2 a span::before {
    content: '';
    position: absolute;
    top: 0;
    left: -50%;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.075);
    transform: skew(25deg);
}
.carousel-dark .carousel-indicators [data-bs-target]{
    background-color: none;
    display: none;
}

.carousel-dark .carousel-control-next-icon, .carousel-dark .carousel-control-prev-icon{
  display: none;
}

@media screen and (max-width:850px) {
    
    .success-asp .content .text2{
        padding-right: 90px;
    }

    .success-asp .actionBtn {
        gap: 20%;
        margin-left: 10%;
    }
    
    
}

@media screen and (max-width:800px) {
    .success-asp .content {
        padding: 0 20px 0 15px;
        width: 450px;
        margin-left: 20px;
        
    }

    .success-asp .actionBtn {
        gap: 15%;
        margin-left: 8%;
    }
}

@media screen and (max-width:700px) {

    .success-asp .content {
        padding: 0 20px 0 15px;
        width: 450px;
        margin-left: 1px;
        
    }

    .success-asp .inner-partt {
        display: flex;
        flex-direction: column;
        height: 600px;
        align-items: center;
        justify-content: center;
        padding: 0px;
        margin-left: 8%;
    
}

.success-asp .blog-card2 {
    height: 600px;
    width: 550px;
    margin: auto;
    border-radius: 25px;
    background-color: #B2C8DF;
}

.success-asp .content span{
    text-align: center;
    padding-top: 15px;
    margin-bottom: 10px;
}

.success-asp .content .title{
    text-align: center;
    margin: 5px 0;
}

.success-asp .content .text2{
    text-align: center;
    width: 100%;
    padding: 10px;
    margin: 0;
}

.success-asp .actionBtn {
    gap: 10%;
    margin-left: 20%;
    
}
}

@media screen and (max-width:600px) {
    .success-asp .blog-card2 {
        width: 500px;
    }

    .success-asp .inner-partt {
        margin-left: 5%;
    }
}

@media screen and (max-width:550px) {
    .success-asp .blog-card2 {
        width: 450px;
    }

    .success-asp .inner-partt {
        margin-left: 1%;
    }
}

@media screen and (max-width:500px) {
    .success-asp .blog-card2 {
        height: 610px;
        width: 400px;
    }

    .success-asp .inner-partt {
        margin-left: 0%;
    }

    .success-asp .content{
        width: 400px;
    }
}

@media screen and (max-width:450px) {
    .success-asp .blog-card2 {
        height: 650px;
        width: 350px;
    }

    .success-asp .content{
        width: 350px;
    }

    .success-asp .actionBtn {
        gap: 10%;
        margin-left: 13%;
        
    }

    .success-asp .inner-partt {
        height: 650px;
    }

    .success-asp .inner-partt .img {
        height: 250px;
        width: 230px;
    }
}

@media screen and (max-width:400px) {
    .success-asp .blog-card2 {
        height: 650px;
        width: 300px;
    }

    .success-asp .content{
        width: 300px;
    }


    .success-asp .inner-partt {
        height: 650px;
    }

    .success-asp .inner-partt .img {
        height: 230px;
        width: 210px;
    }

    .success-asp .actionBtn {
        gap: 10%;
        margin-left: 7%;
        
    }
}

@media screen and (max-width:350px) {
    .success-asp .blog-card2 {
        height: 650px;
        width: 300px;
    }

    .success-asp .content{
        width: 300px;
    }

   
    .success-asp .inner-partt {
        height: 650px;
    }

    .success-asp .actionBtn {
        gap: 10%;
        margin-left: 7%;
        
    }
}


@media screen and (max-width:300px) {
    .success-asp .blog-card2 {
        height: 700px;
        width: 250px;
    }

    .success-asp .content{
        width: 250px;
    }

   
    .success-asp .inner-partt {
        height: 700px;
    }

    .success-asp .actionBtn {
        gap: 5%;
        margin-left: 0%;
        
    }
}

